<div class="comments" *ngIf="moment">
  <h3>Comentários ({{ 
    moment.comments!.length > 0 ? moment.comments!.length : 0 
  }})</h3>
  <div *ngIf="moment.comments!.length > 0; else noComments">
    <div *ngFor="let comment of moment.comments">
      <div class="comment-container">
        <div>
          <p class="comment">{{ comment.text }}</p>
          <div class="author"><span>por: </span>{{ comment.username }}</div>
        </div>
  
        <div>
          <a class="edit-btn" (click)="onEdit(comment)">
            <fa-icon [icon]="faEdit"></fa-icon>
          </a>
          <button class="remove-btn" (click)="removeHandler(comment.id!)">
            <fa-icon [icon]="faTimes"></fa-icon>
          </button>
        </div>
      </div>

      <div class="comment-form">
        <form 
          *ngIf="isEditing && id === comment.id" 
          [formGroup]="commentForm" 
          #formDir="ngForm"
          (ngSubmit)="editHandler(formDir)"
        >
          <div class="form-group">
            <textarea
              formControlName="text"
              placeholder="O que você quer comentar" 
              required
            ></textarea>
            <div *ngIf='text!.invalid && formDir.submitted' class='validation-error'>
              <p *ngIf="text!.errors?.['required']">O texto é obrigatório</p>
            </div>
          </div>
          <input type="submit" value="Comentar!">
        </form>
      </div>
    </div>
  </div>
  <ng-template #noComments>
    <p>Não há comentários</p>
  </ng-template>
</div>

<div class="comment-form">
  <h3>Deixe um comentário:</h3>

  <form [formGroup]="commentForm" #formDir="ngForm" (ngSubmit)="onSubmit(formDir)">
    <div class="form-group">
      <label for="text">Comentário</label>
      <textarea 
        formControlName="text"
        placeholder="O que você quer comentar" 
        required
      ></textarea>
      <div *ngIf='text!.invalid && formDir.submitted' class='validation-error'>
        <p *ngIf="text!.errors?.['required']">O comentário é obrigatório</p>
      </div>
    </div>
    <div class="form-group">
      <label for="username">Nome:</label>
      <input 
        formControlName="username"
        type="text" 
        placeholder="Digite seu nome" 
        required
      >
      <div *ngIf='username!.invalid && formDir.submitted' class='validation-error'>
        <p *ngIf="username!.errors?.['required']">O nome é obrigatório</p>
      </div>
    </div>
    <input type="submit" value="Comentar!">
  </form>
</div>  