<div class="comments" *ngIf="moment">
  <h3>Comentários ({{ 
    moment.comments!.length > 0 ? moment.comments!.length : 0 
  }})</h3>
  <div *ngIf="moment.comments!.length > 0; else noComments">
    <div class="comment-container" *ngFor="let comment of moment.comments">
      <p class="comment">{{ comment.text }}</p>
      <div class="author"><span>por:</span>{{ comment.username }}</div>
    </div>
  </div>
  <ng-template #noComments>
    <p>Não há comentários</p>
  </ng-template>
</div>

<div class="comment-form">
  <h3>Deixe um comentário:</h3>
  <form [formGroup]="commentForm" #formDir="ngForm" (ngSubmit)="onSubmit(formDir)">
    <div class="form-group">
      <label for="text">Comentário</label>
      <textarea 
        formControlName="text"
        placeholder="O que você quer comentar" 
        required
      ></textarea>
      <div *ngIf='text!.invalid && formDir.submitted' class='validation-error'>
        <p *ngIf="text!.errors?.['required']">O comentário é obrigatório</p>
      </div>
    </div>
    <div class="form-group">
      <label for="username">Nome:</label>
      <input 
        formControlName="username"
        type="text" 
        placeholder="Digite seu nome" 
        required
      >
      <div *ngIf='username!.invalid && formDir.submitted' class='validation-error'>
        <p *ngIf="username!.errors?.['required']">O nome é obrigatório</p>
      </div>
    </div>
    <input type="submit" value="Comentar!">
  </form>
</div>  